.filter-item{
    padding: 8px;
    display: flex;
    color: #a5c94b;
    border:1px solid #a5c94b;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}

.filter-name{
    margin-left: 5px;
}